<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/header.ejs')%>
    <form class='editForm' action="/destinations/<%=destination._id%>?_method=PUT" method="POST">
        <h1>Edit Page</h1>
        Name: <input type="text" name="name" value="<%=destination.name%>" /><br />
        Description: <input type="text" name="description" value="<%=destination.description%>" /><br />
        Image: <input type="text" name="img" value="<%=destination.img%>" /><br />
        Restaurants: <input type="text" name="restaurants" value="<%=destination.restaurants%>" /><br />
        Museums: <input type="text" name="museums" value="<%=destination.museums%>" /><br />
        <br />
        <input type="submit" value="Submit Changes" />
      </form>
</body>
</html>