<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body class='index'>
    <%- include('./partials/header.ejs')%>
    <h1 style="text-align: center; color:#677189 ;">We're Going on a Trip!!</h1>
    <div class=''>
        <img src="" alt="">
    </div>
    <div class='indexContainer'>
    <ul class='indexUl'>
        <% destinations.forEach(destination => { %>
            <li class= 'indexLi'>
                <a class='indexName' href="/destinations/<%=destination._id; %>">
                    <%=destination.name; %>
                </a>
                <a class='indexImg'src="/destinations/<%= destination._id; %>">
                    <img src="<%= destination.img %>" >
                </a>   
                <form class='deletePos' action="/destinations/<%= destination.id %>?_method=DELETE" method="POST" >
                    <input class='deleteSty' type="submit" value="DELETE" />
                </form>
                
            </li>
        <% }) %>
    </ul>   
</div>    
</body>
</html>