<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <h1>Index Page</h1>
    <ul class='indexUl'>
        <% destinations.forEach(destination => { %>
            <li>
                <a class='indexName' href="/destinations/<%=destination._id; %>">
                    <%=destination.name; %>
                </a>
                <a class='indexImg'src="/destinations/<%= destination._id; %>">
                    <img src="<%= destination.img %>" >
                </a>   
                <form class='deletePos' action="/destinations/<%= destination.id %>?_method=DELETE" method="POST" >
                    <input class='deleteSty' type="submit" value="DELETE" />
                </form>
                <a href="/destinations/<%=destination._id %>/edit">Edit</a>
            </li>
        <% }) %>
    </ul>       
    <nav>
        <a href="destinations/new">Add a New Destination</a>
    </nav> 
</body>
</html>